---
export const prerender = true

import Layout from '@layouts/Layout.astro'
import { getProducts } from 'utils'
import YoutubeEmbed from '@components/ui/youtube_embed.astro'
import Carousel from '@components/ui/carousel.astro'
import { Markdown } from '@astropub/md'

const products = await getProducts()
---
<Layout title="Nuestros productos">
    <main class="px-5">
        <p class="text-3xl md:text-5xl text-center my-10 font-bold">Nuestros productos</p>
        <div class="flex flex-col gap-10">
            {
                products.map((product) => (
                    <div class="flex flex-col md:flex-row gap-5 bg-slate-800 p-10 rounded-xl">
                        <div class="md:basis-1/2">
                            <Carousel images={product.images} alt={product} />
                            <div class="flex flex-col gap-5 md:flex-row justify-center mt-10 mx-5">
                                <a href="/pedido" class="border-2 border-slate-200 rounded-xl px-5 py-2 bg-white text-black font-bold hover:bg-slate-200">
                                    Comprar por sólo {product.price.toFixed(2)}€
                                </a>
                            </div>
                        </div>
                        <div class="md:basis-1/2">
                            <p class="font-bold text-lg text-center">{product.name}</p>
                            <div class="flex flex-col md:flex-col-reverse">
                                <div class="mt-5">
                                    <YoutubeEmbed videoCode={product.youtubeVideoId} title={product.name}/>
                                </div>
                                <div class="product_description mt-5">
                                    <Markdown of={product.description} />
                                </div>
                            </div>
                        </div>
                    </div>
                ))
            }
        </div>
    </main>
</Layout>

<style>
    :global(.product_description p) {
        margin: 10px 0;
    }
    :global(.product_description li) {
        margin: 10px 0;
        list-style: inside disc;
    }
</style>