---
import { Markdown } from '@astropub/md'

const {data: {attributes: content}} = await fetch(`${import.meta.env.STRAPI_URL}/api/landing-page?populate=*`).then((res) => res.json())
const cleaning1 = `${import.meta.env.STRAPI_URL}${content.cleaning1.data.attributes.url}`
const cleaning2 = `${import.meta.env.STRAPI_URL}${content.cleaning2.data.attributes.url}`
const cleaning3 = `${import.meta.env.STRAPI_URL}${content.cleaning3.data.attributes.url}`
---
<div class="flex flex-col m-5 gap-10 md:pb-20 md:flex md:flex-row-reverse md:gap-20 md:mt-20">
    <div class="md:basis-1/2 md:flex md:flex-col md:justify-center">
        <h2 class="text-center font-bold text-3xl md:text-6xl">{content.cleaning_title}</h2>
        <div class="cleaning_description mt-5 text-center"><Markdown of={content.cleaning_description} /></div>
    </div>    
    <div class="md:basis-1/2">
        <div class="relative">
            <div><img src={cleaning1} class="rounded-tr-3xl md:rounded-3xl" alt="Cleaning 1" /></div>
            <div class="absolute h-24 w-24 -top-5 left-10 md:h-48 md:w-48 md:-top-14 md:-left-10 md:block md:overflow-hidden"><img src={cleaning2} class="rounded-full object-fit border-4 border-white" alt="Cleaning 2" /></div>
            <div class="hidden md:block h-24 md:h-40 absolute -rotate-12 -right-10 -bottom-5"><img src={cleaning3} class="h-full rounded-xl border-4 border-white" alt="Cleaning 3" /></div>
        </div>
    </div>    
</div>

<style>
    :global(.cleaning_description > p) {
        margin: 10px 0;
    }
</style>