---
import { Markdown } from '@astropub/md'

import Water from '@icons/eco_water.astro?raw'
import Hose from '@icons/eco_hose.astro?raw'
import CarWash from '@icons/eco_car_wash.astro?raw'

const CARDS = [
    {
        title: 'Carways Detailing',
        icon: Water,
        quantity: 2
    },
    {
        title: 'Manguera a presión',
        icon: Hose,
        quantity: 50
    },
    {
        title: 'Autolavado',
        icon: CarWash,
        quantity: 100
    }    
]

const { ecoTitle, ecoDescription } = Astro.props
---
<div class="flex flex-col mt-10 m-5">
    <div id="eco_title" class="text-center text-3xl font-bold mb-5">{ecoTitle}</div>
    <div class="eco_description text-center mb-5"><Markdown of={ecoDescription} /></div>
    <div class="flex flex-col gap-5 justify-between pt-5 md:flex-row">
        {
            CARDS.map((card) => (
                <div class={`basis-1/3 border-b border-slate-500 border-4 p-5 bg-white rounded-xl ${card.quantity < 5 ? 'text-emerald-700' : 'text-red-700'}`}>
                    <div class="text-center text-2xl mb-5 font-bold">{card.title}</div>
                    <div class="flex justify-center text-slate-800"><Fragment set:html={card.icon} /></div>
                    <div>
                        <p class="text-center text-4xl mt-5 font-bold">{card.quantity < 5 ? '< ' : '+ '}{card.quantity}</p>
                        <p class="text-center text-xl">Litros</p>
                    </div>
                </div>
            ))
        }
    </div>
</div>

<style>
    :global(.eco_description > p) {
        margin: 10px 0;
    }
    :global(.eco) {
        color: #10b981;
    }
</style>

<script>
    function changeECOColor(){
        const title = document.getElementById('eco_title')
        console.log(title.textContent)
        title.innerHTML = title.textContent.replace('ECO', '<span class="eco">ECO</span>')
    }

    changeECOColor()
</script>