---
import { Markdown } from '@astropub/md'
const { mobile, email, address, schedule } = Astro.props
---
<div class="mt-10 px-5">
  <h2 class="text-center text-3xl font-bold">¿Dónde estamos?</h2>
  <div class="flex flex-col md:flex-row mt-10 gap-5">
    <div class="basis-1/2 flex flex-col gap-2">
      <div class="flex flex-col gap-2 md:basis-1/2">
        <div><span class="font-bold text-xl">Móvil y whatsapp</span>: {mobile}</div>
        <div><span class="font-bold text-xl">Email</span>: {email}</div>
        <div><span class="font-bold text-xl">Dirección</span>: {address}</div>
        <div><span class="font-bold text-xl">Horario:</span></div>
        <Markdown of={schedule} />
      </div>
    </div>
    <div class="basis-1/2">
      <iframe
        class="rounded-xl border-slate-500 border-4"
        title="Carways Map Location"
        width="100%"
        height="350px"
        loading="lazy"
        src={`https://www.google.com/maps/embed/v1/place?key=${import.meta.env.GOOGLE_API_KEY}&q=Carways+Mobility+-+Coches+de+Ocasion`}>
      </iframe>
    </div>
  </div>
</div>
