---
import { Image, getImage } from 'astro:assets'
import { Markdown } from '@astropub/md'

import WhyBg from '@images/why_bg.jpg'

const optimizedWhyBg = await getImage({src: WhyBg, format: 'webp'})

const images = import.meta.glob('@images/services*')

const SERVICES = [
    {
        image: '/src/components/images/services1.jpeg',
        title: 'Detallado interior y Coating',
        description: 'El detallado o limpieza interior consta de la limpieza, desinfección, restaurado e hidratado de todos los materiales que conforman el interior del habitáculo del vehículo.'
    },
    {
        image: '/src/components/images/services2.jpeg',
        title: 'Pulida de carrocería y Coating',
        description: 'La pintura esta expuesta a polvo, al sol, a roces, al lavado regular, a la lluvia, entre otras cosas, todo esto ocasiona que la pintura se vaya matizando y perdiendo brillo.'
    },
    {
        image: '/src/components/images/services3.jpeg',
        title: 'Pulida de fatos y barnizado',
        description: 'En la restauración de faros lijamos la superficie externa del faro hasta eliminar rayadas ocasionadas y el plástico en mal estado para luego pulir y sellar con barniz.'
    },
    {
        image: '/src/components/images/services4.jpeg',
        title: 'Selladores y ceras carnauba',
        description: 'Los encerados o selladores de carnauba son una buena manera de obtener un acabado y brillo profundo excelentes de la carrocería del vehículo así como protección UV.'
    }
]
const {data: {attributes: content}} = await fetch(`${import.meta.env.STRAPI_URL}/api/landing-page?populate=*`).then((res) => res.json())
---
<div class="bg-cover rounded-xl mt-10 mx-5 p-5" style={`background-image: linear-gradient(rgba(0,0,0, 0.8), rgba(0,0,0, 0.6)), url(${optimizedWhyBg.src})`}>
    <h2 class="text-center text-3xl md:text-6xl p-5 font-bold">{content.services_title}</h2>
    <Markdown of={content.services_description} />
    <div class="grid md:grid-cols-4 gap-10 mt-10">
        {
            SERVICES.map((service) => (
                <div class="border-4 border-slate-500 rounded-xl">
                    <div><Image class="rounded-t-xl border-b-4 border-slate-500" src={images[service.image]()} alt={service.title} /></div>
                    <div class="text-center py-5 bg-white font-bold text-slate-800 border-b-4 border-slate-500">{service.title}</div>
                    <div class="p-5 bg-white text-slate-800">{service.description}</div>
                </div>
            ))
        }
    </div>
</div>