---
export const prerender = true

import { Image } from 'astro:assets'
import { getFees, getFeeTags, getFeesPdf } from 'utils.js'
import { Markdown } from '@astropub/md'
import Layout from '@layouts/Layout.astro'
import PdfLogo from '@images/logo-pdf.jpg'
import Map from '@components/Map.astro'
import { getLandingData } from 'utils'

const landingData = await getLandingData()
const feeTags = await getFeeTags()
const fees = await getFees()
const feesPdf = await getFeesPdf()
---
<Layout title="Carways Detailing - Servicios">
    <main class="px-5">
        <p class="text-3xl md:text-5xl text-center my-10 font-bold">Servicios detailing</p>
        {
            feeTags.map((feeTag) => (
                <>
                    <h2 class="text-2xl font-bold mb-10">{feeTag.title}</h2>
                    <div class="flex justify-center max-h-[80px] md:max-h-[251px] ">
                        <Image class="object-cover rounded-xl" height="564" width="1024" src={feeTag.image} alt={feeTag.title}/>
                    </div>
                    <div class="grid grid-cols-1 gap-10 md:grid-cols-3 my-10 md:gap-5">
                        {
                            fees.filter((fee) => fee.tag === feeTag.tag).map((fee) => (
                                <div class="flex  flex-col bg-white text-slate-800 rounded-xl border-4 border-slate-800 p-5">
                                    <div class="text-center font-bold text-2xl bg-slate-800 text-white p-5">{fee.title}</div>
                                    <div class="fee_card_description"><Markdown of={fee.description} /></div>
                                    <div class="mt-auto text-center font-bold text-xl">Desde {fee.price}€ + IVA</div>
                                    {
                                        fee.observation && (
                                            <div class="text-sm text-center mt-5">{fee.observation}</div>
                                        )
                                    }
                                </div>
                            ))
                        }
                    </div>
                    <div class="mb-10 fee_tag_observation">
                        <Markdown of={feeTag.observation} />
                    </div>
                </>
            ))
        }
        <h2 class="text-2xl font-bold mb-10">Descárgate nuestros servicios</h2>
        <a class="flex justify-start" href={feesPdf} target="_blank">
            <Image class="max-h-24 max-w-24 object-contain" src={PdfLogo} alt="Pdf logo"/>
        </a>
        <Map
            mobile={landingData.mobile}
            email={landingData.email}
            address={landingData.address}
            schedule={landingData.schedule}
        />
    </main>
</Layout>

<style>
    :global(.fee_card_description > ul > li, .fee_tag_observation > ul > li) {
        margin: 20px 0;
        list-style: inside;
    }
</style>